body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
  width: 100%;
}

.container {
  margin: auto;
  height: 100%;
  width: 90%;
}

.header {
  padding-top: 1em;
  background-color: white;
  width: 100%;
  height: 5em;
  text-align: center;
}

.update-status-block {
  height: 2em;
  padding-top: 0.5em;
}

.product-list {
  color: white;
  background-color:#242730;
  height: 100%;
  width: 100%
}

.display-text {
  margin-top: 0em;
}

#root {
  height: 85%;
  width: 100%;
}

button{
  margin: 0em 0.5em 0em 0.5em;
  height: 3em;
  font-weight:bold;
  border-radius: 5px;
  border: 2px solid #ff5544;
  margin: 0em 0.5em 0em 0.5em;
  height: 3em;
  font-weight: bold;
}


button:disabled{
  color: grey;
}